<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<title>产品列表页</title>
		<link rel="stylesheet" href="../../css/webbase.css" />
		<link rel="stylesheet" href="../../css/pages-list.css" />
		<link rel="stylesheet" href="../../css/widget-cartPanelView.css" />
	</head>

	<body ng-app="shopping" ng-controller="SearchController" ng-init="loadkeywords()">
		<!-- 头部栏位 -->
		<div id="nav-bottom">
			<!--顶部-->
			<div class="nav-top">
				<div class="top">
					<div class="py-container">
						<div class="shortcut">
							<ul class="fr">
								<li class="f-item">我的订单</li>
								<li class="f-item space"></li>
								<li class="f-item">
									<a href="home-index.html">我的个人中心</a>
								</li>
								<li class="f-item space"></li>
								<li class="f-item">商城会员</li>
								<li class="f-item space"></li>
								<li class="f-item">企业采购</li>
								<li class="f-item space"></li>
								<li class="f-item">关注商城</li>
								<li class="f-item space"></li>
								<li class="f-item" id="service">
									<span>客户服务</span>
									<ul class="service">
										<li>
											<a href="cooperation.html">合作招商</a>
										</li>
										<li>
											<a href="../seller/shoplogin.html">商家后台</a>
										</li>
										<li>
											<a href="cooperation.html">合作招商</a>
										</li>
										<li>
											<a href="../seller/shoplogin.html">商家后台</a>
										</li>
									</ul>
								</li>
								<li class="f-item space"></li>
								<li class="f-item">网站导航</li>
							</ul>
						</div>
					</div>
				</div>

				<!--头部-->
				<div class="header">
					<div class="py-container">
						<div class="yui3-g Logo">
							<div class="yui3-u Left logoArea">
							</div>
							<div class="yui3-u Center searchArea">
								<div class="search">
									<form action="" class="sui-form form-inline" >
										<!--searchAutoComplete-->
										<div class="input-append">
											<input type="text" id="autocomplete" class="input-error input-xxlarge" ng-model="searchMap.keywords" required />
											<button class="sui-btn btn-xlarge btn-danger"   type="button" ng-click="searchMap.pageNo=1;search()">搜索</button>
										</div>
									</form>
								</div>
								<div class="hotwords">
									<ul>
										<li class="f-item">商城首发</li>
										<li class="f-item">亿元优惠</li>
										<li class="f-item">9.9元团购</li>
										<li class="f-item">每满99减30</li>
										<li class="f-item">亿元优惠</li>
										<li class="f-item">9.9元团购</li>
										<li class="f-item">办公用品</li>

									</ul>
								</div>
							</div>
							<div class="yui3-u Right shopArea">
								<div class="fr shopcar">
									<div class="show-shopcar" id="shopcar">
										<span class="car"></span>
										<a class="sui-btn btn-default btn-xlarge" href="cart.html">
											<span>我的购物车</span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="yui3-g NavList">
							<div class="yui3-u Left all-sort">
								<h4><a href="index.html" style="color: white;">商城</a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--list-content-->
		<div class="main">
			<div class="py-container">
				<!--bread-->
				<div class="bread">
					<ul class="fl sui-breadcrumb">搜索条件：</ul>
					<ul class="tags-choose">
						<li class="tag" ng-if="searchMap.category!=''" ng-click="removeSearchItem('category')">商品分类：{{searchMap.category}}<i class="sui-icon icon-tb-close"></i></li>
						<li class="tag" ng-if="searchMap.brand!=''" ng-click="removeSearchItem('brand')">品牌：{{searchMap.brand}}<i class="sui-icon icon-tb-close"></i></li>
						<li class="tag" ng-repeat="(key,value) in searchMap.spec" ng-click="removeSearchItem(key)">{{key}}:{{value}}<i class="sui-icon icon-tb-close"></i></li>
						<li class="tag" ng-if="searchMap.price!=''" ng-click="removeSearchItem('price')">价格：{{searchMap.price}}<i class="sui-icon icon-tb-close"></i></li>
					</ul>
					<div class="clearfix"></div>
					<ul class="fl sui-breadcrumb">搜索结果：{{resultMap.total}}条记录</ul>
				</div>
				<!--selector-->
				<div class="clearfix selector">
					<div class="type-wrap" ng-if="resultMap.categoryList!=null && searchMap.category==''">
						<div class="fl key">商品分类</div>
						<div class="fl value">
							<span ng-repeat="category in resultMap.categoryList">
								<a href="#" ng-click="addSearchItem('category',category)">{{category}}</a>
							</span>
						</div>
						<div class="fl ext"></div>
					</div>

					<div class="type-wrap logo" ng-if="resultMap.brandList!=null&& searchMap.brand==''&&keywordsIsBrand()==false">
						<div class="fl key brand">品牌</div>
						<div class="value logos">
							<ul class="logo-list">
								<li ng-repeat="brand in resultMap.brandList">
									<span style="margin-left: 35px;" ><a  ng-click="addSearchItem('brand',brand.text)" >{{brand.text}}</a></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="type-wrap" ng-repeat="spec in resultMap.specList" ng-if="searchMap.spec[spec.text]==null">
						<div class="fl key text-center">{{spec.text}}</div>
						<div class="fl value">
							<ul class="type-list">
								<li ng-repeat="pojo in spec.options">
									<a href="#" ng-click="addSearchItem(spec.text,pojo.optionName)">{{pojo.optionName}}</a>
								</li>
							</ul>
						</div>
						<div class="fl ext"></div>
					</div>
					<div class="type-wrap">
						<div class="fl key">价格</div>
						<div class="fl value">
							<ul class="type-list" ng-if="searchMap.price==''">
								<li>
									<a ng-click="addSearchItem('price','0-500')">0-500元</a>
								</li>
								<li>
									<a ng-click="addSearchItem('price','500-1000')">500-1000元</a>
								</li>
								<li>
									<a ng-click="addSearchItem('price','1000-1500')">1000-1500元</a>
								</li>
								<li>
									<a ng-click="addSearchItem('price','1500-2000')">1500-2000元</a>
								</li>
								<li>
									<a ng-click="addSearchItem('price','2000-3000')">2000-3000元 </a>
								</li>
								<li>
									<a ng-click="addSearchItem('price','3000-*')">3000元以上</a>
								</li>
							</ul>

						</div>
						<div class="fl ext">
						</div>
					</div>
				
				</div>
				<!--details-->
				<div class="details">
					<div class="sui-navbar">
						<div class="navbar-inner filter">
							<ul class="sui-nav">
								<li >
									<a href="#" ng-click="sortSearch('','')">综合</a>
								</li>
								
								<li>
									<a href="#" ng-click="sortSearch('updatetime','DESC')">新品</a>
								</li>
							
								<li>
									<a href="#" ng-click="sortSearch('price','ASC')">价格↑</a>
								</li>
								<li>
									<a href="#" ng-click="sortSearch('price','DESC')">价格↓</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="goods-list">
						<ul class="yui3-g">

							<li class="yui3-u-1-5" ng-repeat="item in resultMap.rows">
								<div class="list-wrap">
									<div class="p-img">
										<a href="item.html#?id={{item.goodsId}}" target="_blank"><img src="{{item.image}}" /></a>
									</div>
									<div class="price">
										<strong>
											<em>¥</em>
											<i>{{item.price}}</i>
										</strong>
									</div>
									<div class="attr">
										<em>{{item.title}}</em>
									</div>
								
									<div class="operate">
										<a href="item.html#?id={{item.goodsId}}" target="_blank" class="sui-btn btn-bordered btn-danger">查看详情</a>
									</div>
								</div>
							</li>

						</ul>
					</div>
					<div class=" fr page">
						<div class="sui-pagination pagination-large">
							<ul >
								<li class="prev  {{isTopPage()?'disabled':''}} ">
									<a href="#" ng-click="quertByPage(searchMap.pageNo-1)">«上一页</a>
								</li>
								<li class="dotted" ng-if="firstDot==true"><span>...</span></li> 
								<li class="" ng-repeat="p in pageLabel">
									<a href="#" ng-click="quertByPage(p)">{{p}}</a>
								</li>
                                <li class="dotted" ><span ng-if="lastDot==true">...</span></li>
								<li class="next {{isEndPage()?'disabled':''}} " >
									<a href="#" ng-click="quertByPage(searchMap.pageNo+1)">下一页»</a>
								</li>
							</ul>
							<div>
								<span>共{{resultMap.totalPages}}页&nbsp;</span>
								<span>到第<input type="text" class="page-num" ng-model="searchMap.pageNo">页<button class="page-confirm" ng-click="quertByPage(searchMap.pageNo)" >确定</button></span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- 底部栏位 -->
		<footer class="footer"></footer>

	</body>
	<script type="text/javascript" src="../../plugins/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="../../plugins/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="../../plugins/sui/sui.min.js"></script>
	<script type="text/javascript" src="../../js/base/Base.js"></script>
	<script type="text/javascript" src="../../js/service/SearchService.js"></script>
	<script type="text/javascript" src="../../js/controller/SearchController.js"></script>
	<script type="text/javascript">
		$('.footer').load('foot.html')
		$(function() {
			$("#service").hover(function() {
				$(".service").show();
			}, function() {
				$(".service").hide();
			});
			$("#shopcar").hover(function() {
				$("#shopcarlist").show();
			}, function() {
				$("#shopcarlist").hide();
			});

		})
	</script>

</html>